<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-success card-outline">
                <div class="card-header with-border">
                    <h3 class="card-title"></h3>
                    <div class="card-tools">
                        <div class="btn-group float-right" style="margin-right: 5px">
                            <a href="/bot" class="btn btn-sm btn-default" title="列表"><i class="fa fa-list"></i>
                                <span class="hidden-xs">&nbsp;列表</span></a>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/bot/add" method="post" accept-charset="UTF-8" class="form-horizontal" pjax-container>
                    {{.xsrfdata}}
                    <div class="card-body">
                        <div class="form-group  row">
                            <label for="title" class="col-sm-2 col-form-label">Webhook名称</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-edit"></i></span>
                                    </div>
                                    <input type="text" id="title" name="title" value="" class="form-control title" placeholder="输入 名称" required="1" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group  row">
                            <label for="title" class="col-sm-2 col-form-label">Webhook链接</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-edit"></i></span>
                                    </div>
                                    <input type="text" id="webhook" name="webhook" value="" class="form-control title" placeholder="输入 shell 命令" required="1" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="btn-group float-right">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                            <div class="btn-group float-left">
                                <button type="reset" class="btn btn-warning">重置</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer -->
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {

    });
</script>