<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header with-border">
                    <div class="float-right">
                        <div class="btn-group float-right" style="margin-right: 10px">
                            <a href="/msg_job/add" class="btn btn-sm btn-success" title="新增">
                                <i class="fa fa-plus"></i><span class="hidden-xs">&nbsp;&nbsp;新增</span>
                            </a>
                        </div>
                    </div>
                    <span>
                        <input type="checkbox" class="grid-select-all" />&nbsp;
                        <div class="btn-group">
                            <a class="btn btn-sm btn-primary">&nbsp;<span class="hidden-xs">操作</span></a>
                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" class="dropdown-item">批量删除</a></li>
                            </ul>
                        </div>
                        <a class="btn btn-sm btn-primary grid-refresh" title="刷新">
                            <i class="fas fa-redo-alt"></i><span class="hidden-xs"> 刷新</span>
                        </a>
                         <label class="btn btn-sm btn-primary 5f3c9be0c602c-filter-btn " title="筛选">
                             <i class="fa fa-filter"></i><span class="hidden-xs">&nbsp;&nbsp;筛选</span>
                         </label>
                    </span>
                </div>
                <div class="card-header with-border hide" id="filter-box">
                    <form action="/msg_job" class="form-horizontal" pjax-container method="get">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label"> ID</label>
                                        <div class="col-sm-8">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-pen"></i></span>
                                                </div>
                                                <input type="text" class="form-control id" placeholder="ID" name="id" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        <div class="btn-group float-right">
                                            <button class="btn btn-info submit btn-sm"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</button>
                                        </div>
                                        <div class="btn-group float-left " style="margin-left: 10px;">
                                            <a href="/msg_job" class="btn btn-default btn-sm"><i
                                                        class="fa fa-undo"></i>&nbsp;&nbsp;重置</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive no-padding">
                    <table class="table table-hover" id="grid-table5f3c950d2896a">
                        <thead>
                        <tr>
                            <th> </th>
                            <th>任务名</th>
                            <th>Webhook</th>
                            <th>消息类型</th>
                            <th>cron表达式</th>
                            <th>更新时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        {{range $index,$item:=.modles}}
                            <tr>
                                <td ></td>
                                <td >{{$item.Title}}</td>
                                <td >{{$item.Webhook.Title}}</td>
                                <td >{{$item.MsgType}}</td>
                                <td >{{$item.CronExpr}}</td>
                                <td >{{$item.UpdatedAt}}</td>
                                <td >
                                    <a href="/msg_job/edit/{{$item.Id}}" class="btn btn-xs btn-success btn-editone" style="margin:1px;">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="javascript:void(0);" data-id="{{$item.Id}}" class="grid-row-delete btn btn-xs btn-danger" style="margin:1px;">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer clearfix">
                    从 <b>1</b> 到 <b>10</b> ，总共 <b>10</b> 条<ul class="pagination pagination-sm no-margin float-right">
                        <!-- Previous Page Link -->
                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                        <!-- Pagination Elements -->
                        <!-- "Three Dots" Separator -->
                        <!-- Array Of Links -->
                        <li class="page-item active"><span class="page-link">1</span></li>
                        <!-- Next Page Link -->
                        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    </ul>
                    <label class="control-label float-right" style="margin-right: 10px; font-weight: 100;">
                        <small>显示</small>&nbsp;
                        <select class="input-sm grid-per-pager" name="per-page">
                            <option value="/auth/permissions?per_page=10" >10</option>
                            <option value="/auth/permissions?per_page=20" selected>20</option>
                            <option value="/auth/permissions?per_page=30" >30</option>
                            <option value="/auth/permissions?per_page=50" >50</option>
                            <option value="/auth/permissions?per_page=100" >100</option>
                        </select>
                        &nbsp;<small>条</small>
                    </label>
                </div>
                <!-- /.card-body -->
            </div>
        </div></div>

</section>
<script>
    $(function() {
        $('.grid-select-all').iCheck({checkboxClass:'icheckbox_minimal-blue'});

        $('.grid-select-all').on('ifChanged', function(event) {
            if (this.checked) {
                $('.grid-row-checkbox').iCheck('check');
            } else {
                $('.grid-row-checkbox').iCheck('uncheck');
            }
        });

        $('.grid-row-checkbox').iCheck({checkboxClass:'icheckbox_minimal-blue'}).on('ifChanged', function () {
            if (this.checked) {
                $(this).closest('tr').css('background-color', '#ffffd5');
            } else {
                $(this).closest('tr').css('background-color', '');
            }
        });

        var selectedRows = function () {
            var selected = [];
            $('.grid-row-checkbox:checked').each(function(){
                selected.push($(this).data('id'));
            });

            return selected;
        }

        $('.grid-batch-0').on('click', function() {
            var id = selectedRows().join();
            swal.fire({
                title: "确认删除?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确认",
                showLoaderOnConfirm: true,
                cancelButtonText: "取消",
                preConfirm: function() {
                    return new Promise(function(resolve) {
                        $.ajax({
                            method: 'post',
                            url: '/msg_job/delete/',
                            data: {
                                job_id:id,
                                _method:'delete',
                                _xsrf:'csrf_token'
                            },
                            success: function (data) {
                                $.pjax.reload('#pjax-container');

                                resolve(data);
                            }
                        });
                    });
                }
            }).then(function(result) {
                var data = result.value;
                if (typeof data === 'object') {
                    if (data.status) {
                        swal(data.message, '', 'success');
                    } else {
                        swal(data.message, '', 'error');
                    }
                }
            });
        });

        $('.grid-row-delete').unbind('click').click(function() {
            var id = $(this).data('id');
            swal.fire({
                title: "确认删除?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确认",
                showLoaderOnConfirm: true,
                cancelButtonText: "取消",
                preConfirm: function() {
                    return new Promise(function(resolve) {
                        $.ajax({
                            method: 'post',
                            url: "{{urlfor "MsgJobController.Delete"}}",
                            data: {
                                job_id:id,
                                _method:'delete',
                                _xsrf:csrf_token,
                            },
                            success: function (data) {
                                $.pjax.reload('#pjax-container');
                                resolve(data);
                            }
                        });
                    });
                }
            }).then(function(result) {
                var data = result.value;
                if (typeof data === 'object') {
                    if (data.status) {
                        swal(data.message, '', 'success');
                    } else {
                        swal(data.message, '', 'error');
                    }
                }
            });
        });


        $('.grid-refresh').on('click', function() {
            $.pjax.reload('#pjax-container');
            toastr.success('刷新成功 !');
        });

        $('.5f3c9be0c602c-filter-btn').unbind('click');
        $('.5f3c9be0c602c-filter-btn').click(function (e) {
            if ($('#filter-box').is(':visible')) {
                $('#filter-box').addClass('hide');
            } else {
                $('#filter-box').removeClass('hide');
            }
        });

        $('.grid-per-pager').on("change", function(e) {
            $.pjax({url: this.value, container: '#pjax-container'});
        });

    });
</script>